/* targeting element; write element name  */
body 
{
    /* we are targeting body element it will affect all the content inside the body element */
    background: rgb(0, 0, 0);   
    color: #fff;

    /* background: rgba(0, 0, 0, <opacity>; */
    /* we can use 6 digit hex color and 3 digit hex color and alos rgb value 
    in hex we can go to 0 to f value*/
}

/* change color of the every h3 element inside body tag */

body h3
{
    color: #0af;
}
/* elements specificity; specifically style the element */
/* here specifically we selected center tag from footer which is inside body element and changes its color to #0af */
/* in styling style affect is applied to most specific style like below  */
body > footer > center  
{
    background: #fff;
    color: #0af;
}